.btn{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 15px;
    font-size:larger;
    transition: box-shadow 0.3 ease;
}

.btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.btn:active{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}